// Define variables for your color scheme

// For example:
$red: #ff5a5f;
$blue: #007a87;
$yellow: #ffb400;
$orange: #ffaa91;
$green: #3fb34f;
$gray: #565A5C;
$white: #ffffff;
$light-grey: rgb(245,245,245);
